/* Google Fonts available for use: 
font-family: 'Luckiest Guy', cursive;
font-family: 'Bangers', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Libre Barcode 128 Text', cursive; */

body{
    background-color: gray;
}

.container {
    max-width: 50%;
    margin: auto;
}

#title{
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
}

#instructions{
    font-family: 'Oswald', sans-serif;
}

#premade-buttons{
    display: flex;
    justify-content: space-evenly;
}

#gif-input{
    font-family: 'Oswald', sans-serif;
}

#footer{
    font-family: 'Libre Barcode 128 Text', cursive;
}