/* Google Fonts available for use: 
font-family: 'Luckiest Guy', cursive;
font-family: 'Bangers', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Libre Barcode 128 Text', cursive; */

body{
    background-color: gray;
}

.container {
    max-width: 50%;
    /* display: flex;
    justify-content: space-evenly; */
}

#title{
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}

#instructions{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    display: flex;
    justify-content: space-evenly;
}

#premade-buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

#add-button{
    display:flex;
    justify-content: center;
}

#gif-input{
    font-family: 'Oswald', sans-serif;

}

#gif-results{
}

#footer{
    font-family: 'Libre Barcode 128 Text', cursive;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    font-size: 1.2em;
}

#hotstove{
    width:50%;
    opacity: .5;
}